.avatar_with_descriptions {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.background_image img {
    width: 100%;
    height: 200px;
}

.avatar_with_descriptions img {
    height: 100%;
}