.app-wrapper {
    display: grid;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 10fr;
    width: 100%;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: peachpuff;
}

.not-found {
    padding: 10px;
}