.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialog,
.message {
    margin: 5px;
}

.dialog {
    background-color: lightskyblue;
}

.message {
    background-color: lightblue;
}

.a {
    text-decoration: none;
    color: white;
}

.active {
    text-decoration: none;
    color: peachpuff;
}

.messages {
    color: black;
    font-style: italic;
}

.new_message {
    margin-top: 10px;
}